extends _shared

block body
    .models
        h3 Models we work on
        .btn-group.show-on-hover
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                | Sort By &nbsp;
                span.caret
            ul.dropdown-menu(role='menu')
                for sorts in sort_options
                    li
                        a(href='/models?action=sort&sortby=#{sorts["sortValue"]}')= sorts["sortLabel"]

        br
        br

        //- Implement sorting here
        ul.list-group
            for model in models
                li.list-group-item= model
            else
                li.list-group-item sorry, no models found!